@import '../../../sass/utils/mixins';
@import '../../../sass/utils/vars';

.overlay {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100vh;

    overflow: hidden;

    background-color: white;

    @include mq(tablet) {
        background-color: rgba(33, 33, 33, 0.12);
        ;
    }
}

.modal {
    padding-top: 80px;

    @include mq(tablet) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include flex();
        flex-direction: column;

        max-width: 600px;
        padding: 65px 42px;
        background-color: white;
    }
}

.btn-wrapper {
    @include mq(tablet) {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }
}