@import '../utils/mixins';
@import '../utils/vars';

.background {
    height: 100vh;

    background-repeat: no-repeat;

    @include mq(tablet-only) {

        background-image: url('../../assets/images/Background/Tablet/leaves-2x.png'), url('../../assets/images/Background/Tablet/stawberry-2x.png'), url('../../assets/images/Background/Tablet/banana-2x.png'), url('../../assets/images/Background/Tablet/vectory-grey-2x.png');
        background-size: 600px, 250px, 510px, 550px;
        background-position: left bottom, 80% 70%, right bottom, right bottom;
    }


    @include mq(desktop) {

        background-image: url('../../assets/images/Background/Desktop/leaves.png'), url('../../assets/images/Background/Desktop/stawberry.png'), url('../../assets/images/Background/Desktop/banana.png'), url('../../assets/images/Background/Desktop/vactor.png');
        background-size: 846px, 279px, 552px, 815px;
        background-position: 50% 50%, 100% 100%, top right, right -10%;

        padding-bottom: 10px;
    }

    &-light {

        background-color: white;
    }

    &-dark {
        background-color: $bg-color-dark;
    }

}

.background-auth {
    height: 100vh;

    @include mq(mobile-only) {
        &-light {
            background-color: white;
        }

        &-dark {
            background-color: $background-sec-dark;

        }
    }

    @include mq(tablet-only) {
        &-light {
            background-color: white;
        }

        &-dark {
            background-color: $background-sec-dark;

        }
    }

    @include mq(desktop) {
        overflow: hidden;
        background-image: url('../../assets/images/Background/Background-Auth/Desktop/leaves.png'), linear-gradient(to right, white 56.5%, $bg-color-light 43.5%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;

        &-light {
            background-image: url('../../assets/images/Background/Background-Auth/Desktop/leaves.png'), linear-gradient(to right, white 56.5%, $bg-color-light 43.5%);
        }

        &-dark {
            background-image: url('../../assets/images/Background/Background-Auth/Desktop/leaves.png'), linear-gradient(to right, $background-sec-dark 56.5%, $bg-color-dark 43.5%);
        }
    }



}