@import '../utils/vars';
@import '../utils/mixins';
@import '../utils/decimals';


html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}


//Общие настройки body//
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    margin: 0;

    font-family: $mainFont;
    @include fonts();

    color: $color-text-light;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

main {
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;


}

footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

// Общие сбросы//
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link,
.logo,
button {
    font-style: inherit;
    font-family: inherit;
    color: inherit;

    text-decoration: none;
    cursor: pointer;
}

.list {
    list-style: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.list {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.wrapper__sign {
    display: flex;
    align-items: center;

    @include mq(mobile) {
        justify-content: center;
        padding-top: 100px;
    }

    @include mq(tablet) {
        justify-content: start;
    }

}

.wrapper-calendar {
    @media screen and (min-width: 1600px) {
        padding-left: 80px;
    }
}