@import '../../../sass/utils/vars';
@import '../../../sass/utils/mixins';

.title {
    @include fonts($fs: normal, $fw: 700, $fsz: 18px, $lh: 26px, $ls: 0.04em);

    @include mq(mobile-only) {
        width: 295px;
        margin-bottom: 20px;
        padding: 0 23px;
    }

    @include mq(tablet) {
        width: 605px;
        @include fonts($fs: normal, $fw: 700, $fsz: 30px, $lh: 36px, $ls: 0.04em);
    }

    &-light {
        color: $color-dark-light;
    }

    &-dark {
        color: white;
    }

    &-auth {

        color: $color-focus-light;
        text-transform: uppercase;

        font-size: 14px;
    }
}