@import '../../../sass/utils/mixins';
@import '../../../sass/utils/vars';

.wrapper {
    width: 290px;

    @include mq(desktop) {
        margin-bottom: 60px;
    }
}

.title {

    &-light {
        color: black;
    }

    &-dark {
        color: white;
    }
}

.list {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin-top: 20px;

    &-dark {
        color: $color-text-dark;
    }

}

.item {
    display: flex;
    justify-content: space-between;
}