// Цвета//
$bg-color: #F0F1F3;
$color-focus: #FC842D;
$color-dark: #212121;
$color-modal-calories: #264061;
$color-white: #ffffff;
$color-line: #E0E0E0;
$color-mobile-bg: #EFF1F3;
$color-placeholder: #9b9faa80;
$color-text: #4d5056;


// Шрифты//
$mainFont: "Verdana", sans-serif, arial;


//Анимация//
$timeDelay: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);