@import '../../../../sass/utils/mixins';
@import '../../../../sass/utils/vars';


.lang-box {
    @include flex();

    position: absolute;
    top: 5px;

    right: 200px;

    width: 105px;
    height: 36px;
    padding: 5px;


    border-radius: 50px;
    cursor: pointer;

    &-light {
        background-color: $color-switcher-thumb-background-light;
    }

    &-dark {
        background-color: $color-switcher-thumb-background-dark;
    }
}

.lang {
    padding: 3px 5px;
    border-radius: 50%;
    background-color: white;

    &:not(:last-child) {
        margin-right: 10px;
    }

    @include fonts();
    font-size: 11px;

    &:focus,
    &:active,
    &:hover {

        font-weight: 700;
        padding: 3px 4px;
    }

    &-light {

        &:focus,
        &:active,
        &:hover {
            background-color: $color-focus-light;
            color: white;
        }
    }

    &-dark {

        &:focus,
        &:active,
        &:hover {
            background-color: $color-switcher-background-dark;
        }
    }

}

.en-en,
.ua-ua,
.ru-ru {
    &-light {
        background-color: $color-focus-light;
        color: white;
        font-weight: 700;
        padding: 3px 4px;
    }

    &-dark {
        background-color: $color-switcher-background-dark;
        font-weight: 700;
        padding: 3px 4px;
    }
}