@import '../../../sass/utils/mixins';
@import '../../../sass/utils/vars';


.lang-box {
    @include flex();
    position: relative;

    width: 105px;
    // height: 36px;

    @include mq(mobile-only) {
        width: 76px;
        height: 20px;
    }

    border-radius: 50px;
    cursor: pointer;


    &-light {
        background-color: $color-switcher-thumb-background-light;
    }

    &-dark {
        background-color: $color-switcher-thumb-background-dark;
    }
}

.lang {
    @include flex();
    border-radius: 50px;

    width: 35px;
    height: 35px;


    @include fonts();
    font-size: 11px;

    @include mq(mobile-only) {
        width: 25px;
        height: 25px;
        font-size: 9px;
    }

}

.en-en,
.ua-ua,
.ru-ru {
    &-light {
        background-color: white;
        font-weight: 700;


        transition: background-color 350ms $cubic, font-weight 350ms $cubic;
        -webkit-box-shadow: 4px 2px 5px 0px rgba(214, 214, 214, 0.44);
        -moz-box-shadow: 4px 2px 5px 0px rgba(214, 214, 214, 0.44);
        box-shadow: 4px 2px 5px 0px rgba(214, 214, 214, 0.44);


        background-color: $color-switcher-background-light;
        border: 1px solid color-switcher-thumb-background-light;

    }

    &-dark {

        background-color: $color-switcher-background-dark;
        font-weight: 700;


        transition: background-color 350ms $cubic, font-weight 350ms $cubic;
        -webkit-box-shadow: 4px 2px 5px 0px rgba(214, 214, 214, 0.44);
        -moz-box-shadow: 4px 2px 5px 0px rgba(214, 214, 214, 0.44);
        box-shadow: 4px 2px 5px 0px rgba(214, 214, 214, 0.44);


        background-color: $color-switcher-background-light;
        border: 1px solid color-switcher-thumb-background-light;
    }
}