@import '../../../sass/utils/mixins';
@import '../../../sass/utils/vars';




.form {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 10px;
    border-radius: 10px;


    @include mq(mobile-only) {
        margin: 0 auto;
    }

    @include mq(tablet) {
        position: relative;

        width: inherit;
        height: 470px;


        flex-wrap: wrap;
        gap: 31px;
        margin-top: 60px;
        margin-bottom: 73px;
    }

    @include mq(desktop) {
        width: 650px;
        padding: 20px;
        padding-bottom: 40px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 30px 100px;
        grid-template-areas:
            "textFields activity"
            "gender blood"
            "button button";


    }

    &-light {
        background-color: $color-background-form-light;
    }

    &-dark {
        background-color: $color-background-form-dark;
    }
}

.textFileds {
    grid-area: textFields;
}

.label,
.bloodType,
.activity,
.gender {

    @include fonts($fs: normal, $fw: 700, $fsz: 14px, $lh: 17px, $ls: 0.04em);

    &-light {
        color: $color-text-light;
    }

    &-dark {
        color: $color-dark-dark;
    }
}

.activity {
    margin-bottom: 8.5px;
}

.wrapper {
    width: 240px;

    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 8.5px;

}

.wrapper__bloodtype,
.wrapper__gender,
.wrapper__activity {

    width: inherit;
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 3px;

    @include mq(desktop) {
        width: 240px;

    }
}

.wrapper__bloodtype {
    @include mq(desktop) {
        grid-area: blood;
    }
}

.wrapper__gender {
    @include mq(desktop) {
        grid-area: gender;
    }
}


.wrapper_activity {
    margin-bottom: 40px;
    grid-area: activity;

    @include mq(tablet) {
        margin-bottom: 0px;
    }

    &--fields {
        display: flex;
        flex-direction: column;
        justify-content: start;

        @include mq(tablet) {
            width: 240px;
            flex-direction: row;
            flex-wrap: wrap;

        }

        @include mq(desktop) {
            display: grid;
            grid-template-columns: repeat(2fr);
            gap: 10px;

        }
    }
}

.wrapper__btn {
    margin-top: 40px;

    @include mq(tablet) {
        position: absolute;
        bottom: 15px;
        left: 2%
    }

    @include mq(desktop) {
        grid-area: button;
    }

}

.button {
    display: block;
    padding: 13px 48px;

    width: auto;
    min-height: 44px;
    width: 140px;

    border-radius: 30px;


    @include fonts($fs: normal, $fw: 700, $fsz: 14px, $lh: 17px, $ls: 0.04em);
    text-align: center;


    &-light {
        background-color: $color-focus-light;
        border: 1px solid $color-focus-light;
        box-shadow: 0px 4px 10px $color-box-shadow-orange-light;

        color: white;
    }

    &-dark {
        background-color: $color-focus-dark;
        border: 1px solid $color-focus-dark;
        box-shadow: 0px 4px 10px $color-box-shadow-orange-dark;

        color: white;
    }

}