@import '../../sass/utils/mixins';

.plus {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;

}

.wrapper-btn {
    @include flex();

}

.wrapper {

    @media screen and (min-width: 1600px) {
        padding-left: 100px;
    }
}