@import '../../sass/utils/mixins';
@import '../../sass/utils/vars';

.title {
    max-width: 510px;
    text-align: center;
}

.wrapper-kcal {

    padding-bottom: 30px;

    &-light {
        border-bottom: 1px solid $color-wrapper-kcal-light;

        @include mq(tablet) {
            border-bottom: transparent;
        }
    }

    &-dark {
        border-bottom: 1px solid $color-wrapper-kcal-dark;

        @include mq(tablet) {
            border-bottom: transparent;
        }
    }
}

.calories {
    margin-top: 40px;
    text-align: center;


    @include fonts($fs: normal, $fw: 700, $fsz: 48px, $lh: 58px, $ls: 0.04em);


    &-light {
        color: $color-modal-calories-light;
    }

    &-dark {
        color: $color-modal-calories-dark;
    }

    @include mq(tablet) {
        &::after {
            content: '';
            display: block;
            width: 330px;
            height: 1px;
            margin: 0 auto;
            margin-top: 30px;

        }

        &-light::after {
            background-color: $color-wrapper-kcal-light;
        }

        &-dark::after {
            background-color: $color-wrapper-kcal-dark;
        }
    }
}

.kcal {
    @include fonts($fs: normal, $fw: 700, $fsz: 20px, $lh: 38px, $ls: 0.04em);
}

.btn-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.notRecommend {
    margin: 0 auto;
    max-width: 330px;
}