@import '../../../sass/utils/mixins';

.wrapper {
    @include flex();

    @include mq(mobile) {
        padding: 200px;
    }

    @include mq(tablet) {
        padding: 250px;
    }

    @include mq(desktop) {
        padding: 300px;
    }
}