@import '../../../sass/utils/vars';
@import '../../../sass/utils/mixins';

.input {
    cursor: pointer;

    @include mq(mobile-only) {
        width: inherit;
    }

    @include mq(tablet) {
        width: 239px;
    }

}

.invalid__message--wrapper {
    margin-top: 5px;
    padding: 2px 5px;
    border: 1px solid rgb(255, 94, 0);
    border-radius: 4px;
    color: rgb(255, 94, 0);
    font-size: 11px;
    font-weight: 300;
}



.wrapper {
    position: relative;

    @include mq(mobile-only) {
        width: inherit;
    }

}

.radio-wrapper {
    padding-top: 8.5px;
    ;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-right: 28px;
    }
}

.label-radio {
    position: relative;
    @include fonts($fs: normal, $fw: 400, $fsz: 14px, $lh: 17px, $ls: 0.04em);
    margin-left: 6px;
}

.input-text {
    font-family: inherit;
    @include fonts($fs: normal, $fw: 700, $fsz: 14px, $lh: 17px, $ls: 0.04em);

    border: none;
    border-bottom: 1px solid $color-line-light;

    color: $color-text-light;

    padding-bottom: 10px;
    margin-top: 30px;

    &::placeholder {
        color: $color-text-light;
    }

    &:focus,
    &:active,
    &:focus-within,
    &:focus-visible,
    &:visited,
    &:hover,
    &:target {
        background-color: transparent;
        outline: none;
    }


}

.input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid $color-line-light;
    border-radius: 50%;



    &:checked {
        position: relative;
        padding: 5px;
        background-color: $color-focus-light;


        &+label {
            color: $color-focus-light;
            font-weight: 700;
        }

        &+.advice {
            @include mq(mobile) {
                position: absolute;
                bottom: -19%;
                right: 5%;
            }

        }
    }
}

.advice {

    display: flex;
    align-items: center;

    width: inherit;
    height: 50px;

    box-shadow: 0px 4px 10px grey;
    border-radius: 4px;
    //rgb(154 152 151/0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 10px;

    @include fonts($fs: normal, $fw: 400, $fsz: 9px, $lh: 10px, $ls: 0.02em);

    @include mq(tablet) {
        position: absolute;
        bottom: 4%;
        right: 2%;

        background-color: white;
    }

    @include mq(desktop) {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
}




// Перекривання вшитих настройок від хрому //

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    // border: 0;

    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    // background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
    color: $color-text;
    -webkit-text-fill-color: $color-text;
}

.link-wrapper {
    position: absolute;
    right: 3%;
    top: 45%;
    opacity: 0.4;
}