@import '../../../sass/utils/vars';

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.header {
    display: flex;
    margin-bottom: 8px;
}

.header-button,
.header-select {
    padding: 20px;

    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.265);


    margin: 0 4px;


}

.table {
    background-color: #eaeaea6a;
    table-layout: fixed;
    margin: auto;
    width: 90%;
}

.th {
    vertical-align: middle;
    text-align: center;
    height: 36px;
    color: $color-focus-light;
}

.day {

    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;

    background-color: white;


    margin: 0 4px;
}

.day:hover {
    color: white;
    background-color: #f8b07c;
    cursor: pointer;
}

.day.selected {
    border: 2px solid $color-focus-light;
}

.day.today {
    background-color: $color-focus-light;
    color: white;
}

.day.today:hover {
    background-color: black;
}

.day.today.selected {
    border: 2px solid lightgray;
}