@import '../../../sass/utils/vars';

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.header {
    display: flex;
    margin-bottom: 8px;
}

.header-button,
.header-select {
    padding: 20px;
    margin: 0 4px;

    &-light {
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.265);
    }

    &-dark {
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.265);
    }
}

.table {

    table-layout: fixed;
    margin: auto;
    width: 90%;

    &-light {
        background-color: #eaeaea6a;
    }

    &-dark {
        background-color: #eaeaea6a;
    }
}

.th {
    vertical-align: middle;
    text-align: center;
    height: 36px;

    &-light {
        color: $color-focus-light;
    }

    &-dark {
        color: $color-focus-dark;
    }
}

.day {

    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    margin: 0 4px;

    &-light {
        background-color: white;
    }

    &-dark {
        background-color: white;
    }
}

.day {

    &-light:hover {
        color: white;
        background-color: #f8b07c;
        cursor: pointer;
    }

    &-dark:hover {
        color: white;
        background-color: #f8b07c;
        cursor: pointer;
    }
}

.day.selected {
    &-light {
        border: 2px solid $color-focus-light;
    }

    &-dark {
        border: 2px solid $color-focus-dark;
    }
}

.day.today {
    &-light {
        background-color: $color-focus-light;
        color: white;
    }

    &-dark {
        background-color: $color-focus-dark;
        color: white;
    }
}

.day.today {

    &-light:hover {
        background-color: black;
    }

    &-dark:hover {
        background-color: black;
    }
}

.day.today.selected {
    &-light {
        border: 2px solid lightgray;
    }

    &-dark {
        border: 2px solid lightgray;
    }
}