@import '../../../../sass/utils/mixins';
@import '../../../../sass/utils/vars';



.wrapper {

    display: flex;
    align-items: center;

    @include mq(mobile-only) {
        position: absolute;
        z-index: 0;

        top: 82px;
        right: 0;
        left: 0;

        justify-content: flex-end;

        background-color: $color-mobile-bg;
        padding: 15px;
        padding-bottom: 13px;
    }

    @include mq(tablet-only) {

        margin-left: 240px;
        margin-right: 50px;
    }

}

.item {
    display: flex;
    align-items: center;
    @include fonts($fs: normal,
        $fw: 700,
        $fsz: 14px,
        $lh: 13px,
        $ls: 0.04em);
    color: $color-text;

    &:first-child {
        color: black;

        &::after {
            content: '';
            display: block;
            margin-left: 15px;
            margin-right: 15px;
            width: 2px;
            height: 32px;
            left: 240px;
            background-color: $color-line;
        }
    }
}