@import "../../../../sass/utils/mixins";
@import "../../../../sass/utils/vars";

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;

    @include mq(tablet-only) {
        justify-content: center;
    }

    @include mq(desktop) {
        padding-right: 10%;
        justify-content: end;
    }
}