@import '../../../sass/utils/vars';
@import '../../../sass/utils/mixins';

.button {
    display: block;

    border-color: transparent;
    background-color: transparent;

}

.text {
    min-width: 240px;
    min-height: 44px;
    padding: 13px 48px;

    border-radius: 30px;

    @include fonts($fs: normal, $fw: 700, $fsz: 14px, $lh: 17px, $ls: 0.04em);
    text-align: center;

    &-modal {
        composes: text;
        padding: 13px 26px;
    }
}


.base {

    &-light {
        border: 1px solid $color-focus-light;
        color: $color-focus-light;
        background-color: white;
    }

    &-dark {
        border: 1px solid $color-focus-dark;
        color: $color-focus-dark;
        background-color: white;
    }

}

.disabled {
    &-light {
        border: 1px solid $color-line-light;
        color: $color-line-light;
    }

    &-dark {
        border: 1px solid $color-line-dark;
        color: $color-line-dark;
    }
}

.focus {

    &-light {

        border: 1px solid $color-focus-light;
        background-color: $color-focus-light;

        color: white;
    }

    &-dark {


        border: 1px solid $color-focus-dark;
        background-color: $color-focus-dark;

        color: white;
    }
}


.plus {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    &-light {
        color: white;
    }

    &-dark {
        color: white;
    }

}

.close {
    width: 10px;
    height: 10px;
}

.arrowBack {
    width: 12px;
    height: 7px;
}

.burger {
    width: 24px;
    height: 24px;

}

.icon-plus {
    width: 24px;
    height: 24px;

    &-light {
        color: white;
    }

    &-dark {
        color: white;
    }

}

.icon-close {
    width: 10px;
    height: 10px;

    &-light {
        stroke: #9B9FAA;
    }

    &-dark {
        stroke: white;
    }

    &-menu {
        width: 12px;
        height: 12px;


        &-light {
            stroke: black;
        }

        &-dark {
            stroke: white;
        }
    }
}


.icon-arrowBack {
    position: absolute;
    left: 15px;
    top: 110px;

    width: 12px;
    height: 7px;

}

.icon-burger {
    width: 24px;
    height: 24px;
}

.icon-fb {
    width: 50px;
    height: 50px;
}

.icon-google {
    width: 54px;
    height: 54px;
}

.icon-sun {
    width: 20px;
    height: 20px;
}

.icon-moon {
    width: 18px;
    height: 18px;
}

/*
button

text
    focus
    basic

icon
    focus
    transparent

*/