@import '../../../../sass/utils/vars';

.overlay {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 100vh;

    overflow: hidden;

    &-light {
        background-color: white;
    }

    &-dark {
        background-color: $background-sec-dark;
    }
}

.modal {
    position: absolute;
    top: 85px+35px;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 3;

    &-light {
        background-color: $color-modal-calories-light;
    }

    &-dark {
        background-color: $color-modal-calories-dark;
    }
}

.wrapper-logo-nav {
    padding: 18px 70px;
    padding-top: 50px;

    display: flex;

    border-bottom: 3px solid white;

}

.btn-wrapper {
    position: absolute;
    top: 63px;
    right: 55px;
    width: 24px;
    height: 24px;
}